/* .swiper-slide {
    height: 200px;
    width: 10rem;
    margin: 5px;
    box-shadow: 0 8px 16px 0 #5C4742;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 150rem;
} */ 

.carouselContainer {
    display: flex;
    flex-direction: row;
}

.carouselImage {
    margin: 15px;
    box-shadow: 0 8px 16px 0 #5C4742;
} 

.carouselImage:hover {
    cursor: pointer;
}

