.genres h2 {
    color: #5C4742;
}

.genre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #C4BBAF;
    height: 50rem;
    width: 100rem;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.genre-container img {
    box-shadow: 0 8px 16px 0 #5C4742;
    margin: 20px;
}