.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #C4BBAF;
    height: 50rem;
    width: 110rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}