.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  background-color: #5C4742;
}
 .books-img {
  mix-blend-mode: multiply;
  height: 2.5rem;
  border-radius: 10%;
  margin-right: 5px;
 }

.nav-titles {
  display: flex;
  flex-direction: row;
}

.nav-titles > h3 {
  margin: 10px;
}

.project-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
