.App {
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  padding: 0px;
}

.home-container {
  width: 100%;
}

.discover-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C4BBAF;
  margin-top: 0.5rem;
  height: 25rem;
  width: 100%;
}

.discover-title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.recs-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C4BBAF;
  margin-top: 0.5rem;
  height: 25rem;
  width: 100%;
}

.recs-title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.browse-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #C4BBAF;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  height: 25rem;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1.5rem;
}

.browse-title {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.browse-box a {
  color: #5A2A27 ;
  cursor: pointer;
  text-decoration: none;
  height: 3rem;
  margin-bottom: 0rem;
}

.browse-box a:visited {
  color: #8D5B4C;
}

.genre {
  color: #8D5B4C;
}

.genre:hover {
  text-decoration: underline;
  cursor: pointer;
}
